.footer {
  .footer-item {
    color: white;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: red;
    }
  }
}

//responsive mobile-width
@media screen and (min-width: 319px) and (max-width: 640px) {
  .footer {
    .footer-item {
      font-size: 0.7rem;
    }
  }
}
