.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .flip-card-front,
    .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .flip-card-front {
      color: white;
    }

    .flip-card-back {
      color: white;
      transform: rotateY(180deg);
      .banner-card-back {
        position: relative;

        .overlay-banner {
          top: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          background: linear-gradient(to top, #000, transparent 100%);
          transition: all 0.3s;
          border-radius: 4px;

          & > button:hover {
            border-color: rgba(255, 255, 255, 0.5);
            color: rgba(255, 255, 255, 0.5);
          }
          & > button:hover ~ h1 {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
      & > button:hover {
        background: #000 !important;
      }
    }
  }
  &:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
}

//responsive ipad-width
@media screen and (min-width: 414px) and (max-width: 640px) {
  .flip-card {
    width: 60%;
    height: 300px;
  }
}

//responsive mobile-width
@media screen and (min-width: 320px) and (max-width: 413.98px) {
  .flip-card {
    width: 100%;
    height: 300px;
  }
}
