.ant-layout .ant-layout-sider-trigger {
  position: absolute;
  background-color: #ff0000;
}

.ant-menu-submenu-active,
.ant-menu-item-active,
.ant-menu-item-selected {
  background-color: #ff0000 !important;
}
