.profile-tabs {
  .ant-tabs-tab {
    color: white;
    font-size: 1.3rem;
  }
}

.tabs-profile {
  width: 80%;
}

//responsive ipad-width
@media screen and (min-width: 415.02px) and (max-width: 639.98px) {
  .profile-tabs {
    .ant-tabs-tab {
      font-size: 1rem;
    }
  }
  .tabs-profile {
    width: 90%;
  }
}

//responsive mobile-width
@media screen and (min-width: 320px) and (max-width: 415px) {
  .profile-tabs {
    .ant-tabs-tab {
      font-size: 1rem;
    }
  }
  .tabs-profile {
    width: 90%;
  }
  .card-profile {
    min-height: 100px;
  }
  .text-fixed-3 {
    font-size: 1rem;
    line-height: 1rem;
  }
  .text-fixed-4 {
    font-size: 0.6rem;
    line-height: 0.8rem;
  }
}
