.selection-bar {
  width: 60%;
}

.ant-select-item-option-content {
  font-weight: 900;
}

//responsive mobile-width
@media screen and (min-width: 319px) and (max-width: 414px) {
  .selection-bar {
    width: 95%;
  }
}
