#filmList {
  .mySwiper.filmList.swiper {
    .swiper-slide {
      -webkit-box-shadow: 0 0 0 0 black !important;
    }
    .swiper-wrapper {
      margin-bottom: 9rem;
    }
  }
}

//responsive mobile-width
@media screen and (min-width: 319px) and (max-width: 640px) {
  #filmList {
    .showing-btn,
    .comingSoon-btn {
      font-size: 0.6rem;
      padding: 0.6rem 0.8rem;
    }

    .mySwiper.filmList.swiper {
      .swiper-slide {
        width: 100% !important;
        height: 300px !important;
      }
      .swiper-wrapper {
        margin-bottom: 8rem;
      }
    }
  }
}
