@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 16px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ant-tabs .ant-tabs-tab:hover,
.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn:hover,
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff0000;
}

.ant-tabs-ink-bar {
  background-color: #ff0000 !important;
}

.ant-btn {
  color: white !important;
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
  border-radius: 0 !important;
  transition: all 0.5s;
}

.ant-btn:hover {
  color: white !important;
  background-color: #000 !important;
  border-color: #000 !important;
}

.ant-btn-default:hover {
  color: #fff !important;
  border-color: #000 !important;
}